html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}
body {
    background-size: cover;
}
img {
    display: none;
}

h1{
	text-align: center;
    font-family: helvetica;
   /* font-size: 1.5em;*/
}

i{
    float: right;
    margin-right: 10px;
    color: white;
}
 p {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 30%;
    left: 37%;
    margin-top: -100px;
    margin-left: -200px;
    font-family: helvetica;
    font-size: 1.3em;
}
.navbar.navbar-expand-lg, .navbar-light.bg-dark{
    padding: 0 !important;
     margin: 0 !important;
     border-radius: 0 !important;
}
