html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h4{
	text-align: center;
}


a{
	text-align:center;
	display:block;
}

i{
    float: right;
    margin-right: 10px;
    color: black;
}

img{
	max-height: 210px;
	max-width: 270px;
}

.thumbnail{
	max-height: 270px;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: ". . ." ". . .";
  padding: 10px;
}


